<h1>Help little Sky find the seed!</h1>
<p>On desktop use the keys ↓,↑,→,← to move her on mobile use the buttons.</p>
<div class="maze-container">
  <div class="skyzinha" id="skyzinha">
    <div class="beak"></div>
    <div class="eye left"></div>
    <div class="eye right"></div>
    <div class="pawn"></div>
    <div class="tail"></div>
  </div>
  <div class="skyzinha" id="skyzinhaOpponent">
    <div class="beak"></div>
    <div class="eye left"></div>
    <div class="eye right"></div>
    <div class="pawn"></div>
    <div class="tail"></div>
  </div>

  <div id="maze"></div>
</div>
<div class="mobilecontrols">
  <div id="up">↑</div>
  <div id="down">↓</div>
  <div id="left">←</div>
  <div id="right">→</div>
</div>
<div class="end">
  <p>You have fed the bird.</p>
  <div>Play again</div>
</div>
