<div class="game-container">
       
    <div id="scoreboard">
        <h3>Scoreboard</h3>
        
      <a target='_blank' href='https://github.com/dkuitu/checkers'>GIT REPO</a>
        <p id="moves">Moves: 0</p>
        <p id="current-player">Player: HUMAN</p>
        <p id="player1-captures">Player 1 Captures: 0</p>
        <p id="player2-captures">Player 2 Captures: 0</p>
    </div>
    
    <div class="board" id="board"></div>
</div>   
<div class="center workingOnitGif"><img src="/img/kermittyping.gif" alt=""></div>
<script defer src="/js/socketio.js"></script>
  
<script defer src="/js/lib/draughtsLogic.js"></script>