nav{
    flex-direction: row;
padding: 12px;
max-width: 600px;
background-color: rgba(0, 0, 0, 0.615);
}

nav .userIcon{
 width: 85px;
 height: 85px;
border: 1px solid gainsboro;
 box-shadow: inset 0px 0px 4px 2px black;
 border-radius: 4px;
 background-image: url('../../icon/profilePan.png');
 background-repeat: no-repeat;
 background-position: center;
 background-size: contain;

}

nav .userInfo{
    flex-direction: column;
    width: 80%;
    align-items: flex-end;
}

nav .userIcon img{
  width: 75px;
  height: 75px;
}


h3{
  font-family: 'Agbalumo', sans-serif;
  font-size:55px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  height: fit-content;
}
h2{
  margin: 0;
}

.gameDetails {
  margin-top: 2px;
  padding: 5px 0px;
  height: fit-content;
  border-radius: 5px;
  background-color: #0000008e;
  width: 90%;
}


.gameDetails p{
  margin: 0;
  text-align: left;
}

 p span{
  color: var(--primary);
  padding: 0;
  font-size: 22px;

}


.sendSection{

  
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-bottom: 10px;
}

input{
  border-radius: 5px;
  margin-right: 4px;
  color:  white;
  border: 1px solid var(--primary);
  min-height: 40px;
  background-color: var(--dark); /* Semi-transparent white background */
  backdrop-filter: blur(10px);
 padding: 0px 5px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;
  text-align: center;
}


 button{

  width: fit-content;
  height: 100%;
  max-width: 180px;
padding: 3px;
  font-size: 20px;
font-weight: 600;
color: #333333;
background-color: #75f779;
font-size: 20px;
border: #24ff2b 2px solid;
font-weight: 800;
border-radius: 8px;
}

.sendSection input, .sendSection button{
  margin: 3px;
}

h2{
  color: #2d2d2d;
  font-weight: 900;
  padding: 8px;
}

h4{
  color: rgb(0, 60, 13);
  font-size: 18px;
  font-weight: 800;
  text-align: center;
}

.modal{
  width: 95%;
}
#copyGameLink{
  font-size: 26px;
  padding: 5px;
}


#gameMessages{
  width: 120px;
position: fixed;
overflow-y: auto;
max-height:80px;
right: 10px;
top: 30%;
}

#gameMessages div{
  width: 100%;
}
#gameMessages p{
  background-color: transparent;
  width: 100%;
  max-width: 100%;
  overflow-wrap: break-word;

}
.gameContainer{
  width: 90%;
  flex: 1;
z-index: 4;
padding: 0;
margin-bottom: 4px;
position: relative;
}

#gamesContainer{

}

#gamePlayers img{
  width: 40px;
  height: auto;
}

.players-section{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: row;
}

.players-section div{
  
}


@media (max-height:670px) {
  h3{
    font-size: 30px;
    margin: 2px 2px;
  }
  .gameDetails h2{
    font-size: 20px;
    margin: 2px 2px;
    padding: 0px;
  }
  .gameDetails{
    height: fit-content;
  
  }
  .gameDetails p{
    padding: 0;
    margin: 0;
    font-size: smaller;
  }

  #gamePlayers{
    height: fit-content;
    display: flex;
    z-index: 1;
  }
  #gamePlayers div, #gamePlayers span{
    font-size: 12px;
    height: fit-content;
    margin: 0;
    padding: 0;
  }
  #gamePlayers img{
    width: 30px;
  }
  
}

p strong{
  color: rgb(255, 255, 255);
}

.modal h2{
  font-family: inherit;
}
h2 span.win{
  color: var(--primary);
  font-size: 40px;
}
h2 span.loss{
  color: red;
  font-size: 30px;
}
h2 span.stake{
color: #0c8410;
font-size: 30px;
}